<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ohmwomuc.domain.taste.repository.TasteMapper">
    <select id="getTasteInfo" parameterType="net.ohmwomuc.domain.taste.dto.Taste$Domain"
            resultType="net.ohmwomuc.domain.taste.dto.Taste$Domain">
        SELECT
            *
        FROM TASTE
        WHERE restaurant_id = #{restaurantId}
        AND user_id = #{userId}
    </select>

    <insert id="addTaste" parameterType="net.ohmwomuc.domain.taste.dto.Taste$Domain">
        insert into TASTE
            (user_id, restaurant_id, taste_code)
        VALUES (#{userId}, #{restaurantId}, #{tasteCode})
    </insert>

    <delete id="deleteTaste" parameterType="net.ohmwomuc.domain.taste.dto.Taste$Domain">
        DELETE
        FROM TASTE
        WHERE restaurant_id = #{restaurantId}
          AND user_id = #{userId}
    </delete>

</mapper>